.menu-item .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #20262b;
    -fx-background-radius: 0;
    -fx-padding: 4 4 4 4;
}